@charset "UTF-8";

/* so that the content stays within the box*/
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.grid {
  background-color:pink;
}

.wrapper {
	max-width:960px;
	margin: 0 auto;
}

/* can add things after every selected element*/
.grid:after {
  content:"";
  display:table;
  clear:both;
}

/*this is making the grid expand to contain the floated columns*/

[class*='column-'] {
  float:left;
  border:1px solid black;
  padding-right:50px;
  margin-bottom:20px;
}

/* selecting all the columns that are inside a grid that's inside a grid */
.grid .grid [class*='column-'] {
  padding: 0 25px;
  background-color:aqua;
}

/* selecting a grid inside of a grid */
.grid .grid {
  margin:0 -25px;
}

/* selecting only the last column of the row to apply different things to it*/
[class*='column']:last-of-type {
  padding-right:0;
}

.column-1-12 {
  width:8.33%;
}

.column-2-12 {
  width:16.66%;
}

.column-3-12 {
  width:25%;
}

.column-4-12 {
  width:33.33%;
}

.column-5-12 {
  width:41.66%;
}

.column-6-12 {
  width:50%;
}

.column-7-12 {
  width:58.33%;
}

.column-8-12 {
  width:66.66%
}

.column-9-12 {
  width:75%;
}

.column-10-12 {
  width:83.33%;
}

.column-11-12 {
  width:91.66%;
}

.column-12-12 {
  width:100%;
}

@media only screen and (max-width: 700px) { 
	[class*='column-'] {
  		width:100%;
		background-color:aqua;
}

	.column-mobile {
		width:50%;
	}
/* CSS Document */

